"*.vsidx"
/Bodie.Promptlet/.vs/Bodie.Promptlet/DesignTimeBuild/.dtbcache.v2
/Bodie.Promptlet/.vs/Bodie.Promptlet/FileContentIndex/02ddd9e9-93a6-4e7a-98c1-e43a0aea1e62.vsidx
/Bodie.Promptlet/.vs/Bodie.Promptlet/FileContentIndex/28d9860a-d7d2-41cf-b131-77c63983a9cc.vsidx
/Bodie.Promptlet/.vs/Bodie.Promptlet/FileContentIndex/620f73e7-8bcd-4b2e-933d-96a14d0f58ad.vsidx
/Bodie.Promptlet/.vs/Bodie.Promptlet/FileContentIndex/bd809b6a-ace7-4cea-a40a-430146e4b3d6.vsidx
/Bodie.Promptlet/.vs/Bodie.Promptlet/FileContentIndex/d20c5cdc-8cac-4c31-b794-580acd737530.vsidx
/Bodie.Promptlet/.vs/Bodie.Promptlet/FileContentIndex/dcd04a45-956f-4098-a18e-fab98b150a1e.vsidx
/Bodie.Promptlet/.vs/Bodie.Promptlet/FileContentIndex/e9520cbc-0827-47b4-a2df-c345dc6e33e5.vsidx
/Bodie.Promptlet/.vs/Bodie.Promptlet/FileContentIndex/efa371fa-7b00-4613-8193-64f36534d868.vsidx
/Bodie.Promptlet/.vs/Bodie.Promptlet/v17/.futdcache.v2
/Bodie.Promptlet/.vs/Bodie.Promptlet/v17/.suo
/Bodie.Promptlet/.vs/Bodie.Promptlet/v17/TestStore/0/028.testlog
/Bodie.Promptlet/.vs/Bodie.Promptlet/v17/TestStore/0/041.testlog
/Bodie.Promptlet/.vs/Bodie.Promptlet/v17/TestStore/0/testlog.manifest
