@page
@model Bodie.Promptlet.Web.Pages.EditPromptCollectionModel
@{
}

<div class="container text-left bg-light p-2 rounded box-shadow shadow">
    <form method="post">
        <input asp-for="PromptCollection.PromptCollectionId" type="hidden" />
        <div class="container text-left">
            <div class="row">
                <div class="col">
                    <div class="row">
                        <div class="form-label col-md-10">
                           <h4> Name</h4>
                            @Html.EditorFor(model => model.PromptCollection.PromptCollectionName, new { htmlAttributes = new { @class = "form-control" } })                        
                        </div>                      
                    </div>                 
                    <div class="btn-group btn-group-sm">
                        <input type="submit" value="Save" class="btn btn-success" />
                        <a class="btn btn-sm btn-danger" href="/Index">Cancel</a>  
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>