@page "preview:string"
@model Bodie.Promptlet.Web.Pages.GeneratedPromptletModel
@{
}

<link rel="stylesheet" href="../css/2-sort-list.css">

 <div class="container text-left bg-light rounded shadow-lg  p-2" >
     <div class="row gap-4 p-2" >
         <form>
         <textarea 
             rows="25"
             class="form-control shadow-lg m-1 p-3" 
             style="white-space: pre-line;" >
             @Model.Preview
         </textarea>
         </form>
     </div>
</div>